
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đặt hàng thành công, nhà sách Hufflit cảm ơn quý khách đã tin tưởng và sử dụng dịch vụ!!!</h2>
<h3>bấm vào @Html.ActionLink("đây", "Index", "Home") để quay về trang chủ.</h3>

